[Unit]
Description={{ group_names[0] }}
After=network.target

[Service]
ExecStart={{ service_prefix }}-{{ bootnode_version }} --config /etc/avail-light/config.toml
Restart=on-failure
Type=simple
LimitNOFILE=65535

User=root
Group=root

[Install]
WantedBy=multi-user.target
